.root {
  display: flex;
  justify-content: center;
  li {
    display: inline-block;

    &.selected {
      color: #5500ff !important;
      background-color: #fe5f1e;
    }

    a {
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px;
      line-height: 22px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      color: #fe5f1e;

      &:hover {
        color: #fff;
        background-color: #fe5f1e;
      }
    }
  }
}
